@font-face {
    font-family: 'Fraunces';
    src:url('./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
  }

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/manrope/Manrope-VariableFont_wght.ttf');
}

.green-line {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #44FFA1;
    text-decoration-style: solid;
}

li {
    font-family: 'Fraunces';
}